[client]
port    = 3306
socket    = /var/run/mysqld/mysqld.sock
default-character-set=utf8


[mysqld]
#skip-grant-tables=1
character-set-server=utf8
port    = 3306
socket  = /var/run/mysqld/mysqld.sock
#basedir = /usr/local/mysql
#datadir = /data/mysql_data_3306
#innodb_data_file_path = ibdata1:128M:autoextend
#log_error = /usr/local/mysql/log/log.err
#slow_query_log_file = /usr/local/mysql/log/slow.log
#general_log_file =  /usr/local/mysql/log/general.log
skip-external-locking
skip-name-resolve
#skip-slave-start
wait_timeout    =28800
interactive_timeout=28800
back_log=5000
#binlog-ignore-db=tmp
net_write_timeout=1800
net_read_timeout=1800
lock_wait_timeout=600
long_query_time=3.0
log_queries_not_using_indexes=1
key_buffer_size = 512M
thread_cache_size = 60
max_connections = 1200
#是否对sql语句大小写敏感，1表示不敏感
lower_case_table_names = 1 
log_timestamps=system
server-id = 3306
log-bin
log-slave-updates
#binlog-format=statement
binlog-format=ROW
binlog_rows_query_log_events=on
#log-bin-trust-function-creators=1
log_bin_trust_function_creators=1
expire_logs_days=30
gtid-mode=on
enforce-gtid-consistency=1
log_slave_updates=1
#开启缓存并设置缓存大小
query_cache_type=on
query_cache_size=536870912


#gtid_domain_id=0
slow-query-log=on
innodb_print_all_deadlocks=on

#thread_handling=pool-of-threads
#thread_pool_max_threads=1500

innodb_log_file_size = 256M
innodb_log_buffer_size = 128M
innodb_buffer_pool_size = 5G
innodb_buffer_pool_instances = 4
innodb_flush_log_at_trx_commit = 2
innodb_flush_log_at_timeout=3
innodb_change_buffer_max_size=50
sync_binlog = 0
innodb_file_per_table=1
#innodb_locks_unsafe_for_binlog = 1
innodb_thread_concurrency = 64
innodb_flush_method= O_DIRECT
innodb_io_capacity=800
#innodb_log_block_size=2048
innodb_read_io_threads=16
innodb_write_io_threads=16
innodb_use_native_aio=on

innodb_support_xa=0
innodb_change_buffering=all
#innodb_checksum_algorithm=none
innodb_doublewrite = true
max_allowed_packet = 16M

max_prepared_stmt_count=1048576

#slave_parallel_max_queued=4
table_definition_cache=5000
table_open_cache=5000
open_files_limit=1000000
transaction-isolation = REPEATABLE-READ

slave_parallel_workers=8
slave_parallel_type=LOGICAL_CLOCK
master_info_repository=TABLE
relay_log_info_repository=TABLE

auto_increment_increment=1

#gtid-mode              = on
#enforce-gtid-consistency
#sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
sql_mode='NO_AUTO_CREATE_USER'
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
#quick
no-auto-rehash
prompt=mysql(\\u@\\h:\\d \\r:\\m:\\s)>

[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 16M
read_buffer = 2M
write_buffer = 2M


